DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# environment
APP_NAME=tutorlio-api

# Base url
BASE_URL=http://localhost:8000

# STATIC_ROOT=/usr/src/api_staticfiles/
# STATIC_URL=/static/
# MEDIA_ROOT=/usr/src/api_media/
# MEDIA_URL=/media/

# Database
DATABASE_URL="postgres://tutorlio:123456@postgres:5432/tutorlio"

# General settings
DJANGO_ADMIN_URL= ^'admin/'
DJANGO_SETTINGS_MODULE="config.settings.base"
DJANGO_SECRET_KEY="&88*x9nyws39wov75w1b7dc6c096k%5z@0r75cm5^t@@2("

# Mail backend
EMAIL_BACKEND=sgbackend.SendGridBackend
DJANGO_DEFAULT_FROM_EMAIL= #"nowhere <hello@nowhere.com>"
ACCOUNT_EMAIL_SUBJECT_PREFIX=

# Celery
CELERY_BROKER_URL=redis://redis:6379/0

# redis
REDIS_CONN_URL=redis://redis:6379/0

SENTRY_IO_DSN=


